.DS_Store
.vscode/
obj_dir/
*.vcd
*.fst
vivado_out/
.Xil/
*.jou
*.log
*.cache/
*.runs/
*.sim/
*.gen/
*.str
*.dcp
*.hw/
__MACOSX/
clockInfo.txt
*CongestedCLBsAndNets.txt
tight_setup_hold_pins.txt
fpga/ip/
